.display-flex {
display:flex;
}

.picture_pos_1_ori {
position:absolute;
 z-index:1;
}

.picture_pos_2_ori {
position:absolute;
 top:130px;
 left:30px;
 z-index:2;
}

.button_pos_ori{
position:absolute;
 top:170px;
 left:80%;
 z-index:2;
}

.element_pos_ori{
position:absolute;
 top:200px;
 left:5%;
 z-index:2;
}

.width_pic1{
width:96%;
height:80px;
}

.width_pic2{
width:18%;
height:60px;
}



.wd-text-decoration {
text-decoration: none;
}

.wd-color-lightgray {
  color: rgb(47, 51, 54);
}


.wd-font-bold {
font-weight:bold;
}
.wd-text-black{
color:black;
}
.wd-search {
width:600px;
}
.rounded-pill {
    border-radius: 50%;
}

.wd-img-width {
width:40px;
}
.wd-img-height {
height:40px;
}


.wd-img-width-20p {
width:15%;
}

.wd-img-width-60px {
width:60px;
height:60px;
}

.wd-img-width-350px {
width:500px;
height:300px;
}

.wd-icon-size {
width:20px;
height:20px;
}

.wd-img-width-12p {
width:12%;
height:12%;
}

.wd-img-width-full {
width:100%;
}


.Icon-inside {
position:relative;
}
.Icon-inside i {
      position:absolute;
      left:0;
      top:0px;
      padding:6px 6px;
      color:black;
     }
.Icon-inside a {
      position:absolute;
      left:0;
      top:85%;
      padding:6px 6px;
      font-size:35px;
     }

.wd-height-30{
height:30px;
}
input::placeholder {
  padding:20px 36px;
}
.wd-padded-left {
    padding-left: 16px;
}
.wd-border-biggest {
    border-style:solid;
    border-width:16px;
}
.wd-border-left-solid-darkgray {
   border-left-style: solid;
   border-left-color:rgb(47, 51, 54);
}

.wd-border-all-darkgray{
    border-style: solid;
   border-width:0.1px;
   border-color:rgba(184, 180, 180, 0.05);
}

.wd-border-solid-darkgray {
   border-top-style: solid;
   border-top-width:0.1px;
   border-top-color:rgba(184, 180, 180, 0.05);
}

.wd-median-white{
color:rgb(184, 180, 180);
}

.wd-border-right-solid-darkgray {
   border-right-style: solid;
   border-right-color:rgb(47, 51, 54);
}

.wd-border-darkgray {
   border-style: solid;
     border-width:0.1px;
     border-color:rgb(184, 180, 180);
}

.wd-border-bottom-solid-blue {
   border-bottom-style: solid;
   border-bottom-width:1px;
   border-bottom-color:rgb(29, 161, 242);
}

.wd-border-bottom-solid-darkgray {
   border-bottom-style: solid;
   border-bottom-color:rgb(47, 51, 54);
}

.wd-border-top-solid-darkgray {
    border-top-style:solid;
    border-top-color:rgb(47, 51, 54);
}


.wd-input_filed_rounded_all_around {
    border-radius: 50px;
}

.wd_rounded_pic {
border-radius: 10%;
}

.wd-grid-col-90-page {
    width:85%;
    height: 30px;
    float:left;
}

.wd-grid-col-8-page {
    width:9%;
    height: 38px;
    float:left;
}

.wd-padded-right-left {
    padding-right: 12px;
    padding-left: 16px;
}

.wd-backgroundcolor-darkgray {
    background-color: darkgray;
}

.margin_start {
margin-left:20px;
}

.wd-backgroundcolor-lightdark {
    background-color: rgb(47, 51, 54);
}

.wd-backgroundcolor-black {
    background-color: black;
}



.wd-color-darkgray {
    color: rgb(47, 51, 54);
}

.wd-color-white {
    color: white;
}

.wd-backgroundcolor-white {
    background-color: white;
}



.wd-grid-col-left-16px {
    width: 16px;
    height:100%;
    float: left;
}


.wd-grid-col-first-page {
   width: 17%;
   float: left;
   color: rgb(29, 161, 242);
   font-size: 15px;
}


.wd-padded-all-around {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}



.wd-grid-col-second-page {
   width: 12%;
   float: left;
   font-size: 15px;
   color: rgb(110, 118, 125);
}

.wd-grid-col-third-page {
   width: 12%;
   float: left;
   font-size: 15px;
   color: rgb(110, 118, 125);
}

.wd-grid-col-fourth-page {
   width: 12%;
   float: left;
   font-size: 15px;
   color: rgb(110, 118, 125);

}


.wd-grid-col-fifth-page {
   width: 12%;
   float: left;
   font-size: 15px;
   color: rgb(110, 118, 125);

}

.wd-grid-col-sixth-page {
   width: 19.2%;
   float: left;
   font-size: 15px;
   color: rgb(110, 118, 125);
}

.wd-pos-relative-nudge-down {
  position:relative;
  top:15px;
}

.wd-pos-relative-nudge-down-twice {
  position:relative;
  top:28px;
}

.wd-pos-relative-nudge-down-three {
position:relative;
  top:40px;
}

.wd-pos-relative-nudge-down-fourth {
position:relative;
  top:52px;
}

.wd-pos-relative-nudge-down-five {
position:relative;
  top:63px;
}

.wd-pos-relative-nudge-down-six {
position:relative;
  top:75px;
}

.wd-grid-row-93 {
  height: 16px;
  font-size: 13px;
  width:93%;
  float:left;
}

.wd-grid-row-35 {
  height: 16px;
  font-size: 13px;
  width:3.5%;
  float:left;
}



.wd-padded-right {
    padding-right: 16px;
}
.wd-grid-row-60 {
  height: 16px;
  font-size: 13px;
  width:60%;
  float:left;
}

.wd-grid-row-50 {
  height: 16px;
  font-size: 13px;
  width:50%;
  float:left;
}

.wd-grid-row-30 {
  height: 16px;
  font-size: 13px;
  width:30%;
  float:left;
}

.wd-grid-row-965 {
  width:96.5%;
  float:left;
}

.wd-grid-col-image-page {
    width:100px;
    height: 100px;
    float:right;
}

