.picture_pos_1 {
position:absolute;
 z-index:1;
}

.picture_pos_2 {
position:absolute;
 top:100px;
 left:30px;
 z-index:2;
}

.button_pos{
position:absolute;
 top:170px;
 left:80%;
 z-index:2;
}

.element_pos{
position:absolute;
 top:180px;
 left:5%;
 z-index:2;
}

.black_background{
background-color:black;
}

.width_morehalf{
width:500px;
}